body{

    
    background-color: white ;
    width:531px;
    
   }
   .hoodo{
       
       margin-left: 300px;
       margin-top: 80px;
       margin-right: 10px;
       margin-bottom: 200px;
       border:10px solid grey;
   }
  
   h2{
     color: black;
     font-size: 25px;
     padding-left: 20px;
   }
  section{
    background-color: red;
     width: 525px;
     border:3px solid black;
     border-radius: 15px;
     
  }

  article{
    color:white;
    font-size: 20px;
    background-color: brown;
  }
  footer{
    font-size: 20px;
    padding-left: 20px;
  }
 
  .cardarticleimage{
    width: 200px;
    float: right;
    height: 180px;
  }
  .hodo{
    padding: 10px;
  }
 